<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card-content class="dashboard-card-content">
<div echarts [autoResize]="true" [options]="chartOption5"></div>
</mat-card-content>
</mat-grid-tile> 
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card-content class="dashboard-card-content">

<div
echarts [autoResize]="true" [options]="chartOption5"
 
></div>
</mat-card-content>
</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card-content class="dashboard-card-content">
  
<div
echarts [autoResize]="true" [options]="chartOption5"
 
></div>
</mat-card-content>
</mat-grid-tile> 
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card-content class="dashboard-card-content">
    
<div
echarts [autoResize]="true" [options]="chartOption5"
></div>
</mat-card-content>
</mat-grid-tile>  
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="350px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card-content class="dashboard-card-content">
<div
echarts [autoResize]="true" [options]="chartOption1"
 
></div>
</mat-card-content>
</mat-grid-tile> 
</mat-grid-list>
</div>